/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp ESC               &kp N1  &kp N2  &kp N3    &kp N4                &kp N5                                          &kp N6  &kp N7            &kp N8             &kp N9   &kp N0    &kp MINUS
&kp TAB               &kp Q   &kp W   &kp E     &kp R                 &kp T                                           &kp Y   &kp U             &kp I              &kp O    &kp P     &kp TILDE
&kp LCTRL             &kp A   &kp S   &kp D     &kp F                 &kp G                                           &kp H   &kp J             &kp K              &kp L    &kp SEMI  &kp COLON
&mt LSHFT LANGUAGE_5  &kp Z   &kp X   &kp C     &kp V                 &kp B   &kp BACKSPACE    &mt RIGHT_SHIFT GRAVE  &kp N   &kp M             &kp COMMA          &kp DOT  &kp FSLH  &kp UNDERSCORE
                                      &kp LALT  &kp NON_US_BACKSLASH  &to 1   &kp SPACE        &kp RET                &to 2   &kp LEFT_BRACKET  &kp RIGHT_BRACKET
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Lower";
            bindings = <
&kp F1            &kp F2             &kp F3        &kp F4        &kp F5        &kp F6                                &kp F7     &kp F8                &kp F9         &kp F10                &kp F11        &kp F12
&none             &kp DOUBLE_QUOTES  &kp NUMBER_7  &kp N8        &kp NUMBER_9  &kp SLASH                             &none      &kp LEFT_PARENTHESIS  &kp UP_ARROW   &kp RIGHT_PARENTHESIS  &kp PAGE_UP    &kp HOME
&kp LEFT_CONTROL  &kp PERCENT        &kp N4        &kp NUMBER_5  &kp NUMBER_6  &kp ASTERISK                          &kp CARET  &kp LEFT              &kp DOWN       &kp RIGHT              &kp PAGE_DOWN  &kp END
&kp LEFT_SHIFT    &kp AMPERSAND      &kp NUMBER_1  &kp NUMBER_2  &kp N3        &kp PLUS      &kp MINUS    &kp EQUAL  &none      &kp MINUS             &kp KP_PLUS    &kp LBRC               &kp RBRC       &kp PIPE
                                                   &kp LEFT_ALT  &kp N0        &to 0         &kp SPACE    &kp ENTER  &to 2      &kp PERIOD            &kp RIGHT_GUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        rqise_layer {
            display-name = "Base";
            bindings = <
&kp ESC                 &kp N1  &kp N2  &kp N3    &kp N4        &kp N5                                         &kp N6  &kp N7     &kp N8            &kp N9   &kp N0    &kp MINUS
&kp TAB                 &kp Q   &kp W   &kp E     &kp R         &kp T                                          &kp Y   &kp U      &kp I             &kp O    &kp P     &kp LS(CLCK)
&kp LCTRL               &kp A   &kp S   &kp D     &kp F         &kp G                                          &kp H   &kp J      &kp K             &kp L    &kp SEMI  &kp RIGHT_BRACKET
&mt LSHFT INT_MUHENKAN  &kp Z   &kp X   &kp C     &kp V         &kp B   &kp BACKSPACE    &mt RIGHT_SHIFT INT2  &kp N   &kp M      &kp COMMA         &kp DOT  &kp FSLH  &kp NON_US_BACKSLASH
                                        &kp LALT  &kp LEFT_GUI  &to 1   &kp SPACE        &kp RET               &to 0   &mkp RCLK  &kp LEFT_BRACKET
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
